<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue实例</title>
    <script src="static/vue.js"></script>
    <script src="static/jquery.min.js"></script>
</head>
<body>
    <div id="input">
        <input v-model="condition.age">
        <input v-model="condition.name" v-on:keyup="keyupsd">
    </div>

    <div id="ajax">
        <ul>
            <li v-for="iten in arr">{{iten.name}}</li>
        </ul>
        <button type="button" v-on:click="init">重新加载数据</button>
    </div>


    <div id="vue2">
        <span>{{name}}</span>
        <button type="button" v-on:click="name = 'nihoa'"></button>
    </div>


    <div id="example">
        <input v-model="a">
    </div>
</body>
<script>
    init()
    function init() {
        $.ajax({
            type: "get",
            dataType: "json",
            url: "data/text.json",
            success: function (data) {
                new Vue({
                    el: "#ajax",
                    data: {
                        arr: data
                    },
                    methods:{
                        init:function(){
                            alert(89087876)
                            init()
                        }
                    }
                })
            }
        })
    }
    var v = new Vue({
        el:"#input",
        data:{
            condition:{
                name:2324
            }
        },
        methods:{
            keyupsd:function(){
                console.log(this.condition.age)
            },
        }
    })


    var data = {
        name:"lis"
    }
    //当时用这的时候data里面的数据会变成只读不会再是响应式
    Object.freeze(data)
        new Vue({
            el:"#vue2",
            data:data,
        })



    var data2 = { a: 1 }
    var vm2 = new Vue({
        el: '#example',
        data: data2
    })
    vm2.$data === data2 // => true
    vm2.$el === document.getElementById('example') // => true
    // $watch 是一个实例方法
    vm2.$watch('a', function (newValue, oldValue) {
        // 这个回调将在 `vm.a` 改变后调用
        console.log("newValue:"+newValue)
        console.log("oldValue:"+oldValue)
    })



</script>
</html>